.error,
.info {
    border-radius: 4pt;
    padding-left: 3pt;
    padding-right: 3pt;
    padding-top: 1pt;
    padding-bottom: 2pt;
    font-weight: bold;
}

.error {
    background-color: red;
    color: white;
}

.info {
    background-color: #bbb;
    color: white;
}

.portrait {
    float: right;
    width: 40%;
    border: 1px solid black;
    margin-left: 20px;
    margin-bottom: 5px;
}
.sidefigure {
    float: right;
    text-align: center;
    width: 30%;
    margin-left: 20px;
    margin-bottom: 5px;
}
.constrainfigure {
    text-align: center;
    width: 65%;
}
.block[data-taxon="Example"]:hover {
    background-color: rgba(133, 217, 102, 0.19);
}
.block[data-taxon="Example"] {
    background-color: rgba(133, 217, 102, 0.08);
}
.block[data-taxon="Warning"]:hover {
    background-color: rgba(255, 100, 0, 0.16);
}
.block[data-taxon="Warning"] {
    background-color: rgba(255, 100, 0, 0.08);
}
.block[data-taxon="Counterexample"]:hover {
    background-color: rgba(255, 100, 0, 0.16);
}
.block[data-taxon="Counterexample"] {
    background-color: rgba(255, 100, 0, 0.08);
}
.block[data-taxon="Problem"]:hover {
    background-color: rgba(255, 100, 0, 0.16);
}
.block[data-taxon="Problem"] {
    background-color: rgba(255, 100, 0, 0.08);
}
.block[data-taxon="Upshot"]:hover {
    background-color: rgba(255, 100, 0, 0.16);
}
.block[data-taxon="Upshot"] {
    background-color: rgba(255, 100, 0, 0.08);
}
.block[data-taxon="Thesis"]:hover {
    background-color: rgba(255, 100, 0, 0.16);
}
.block[data-taxon="Thesis"] {
    background-color: rgba(255, 100, 0, 0.08);
}

.block[data-taxon="Definition"]:hover {
    background-color: rgba(0, 100, 255, 0.1);
}
.block[data-taxon="Definition"] {
    background-color: rgba(0, 100, 255, 0.04);
}

.block[data-taxon="Construction"]:hover {
    background-color: rgba(0, 100, 255, 0.1);
}
.block[data-taxon="Construction"] {
    background-color: rgba(0, 100, 255, 0.04);
}
.block[data-taxon="Theorem"]:hover {
    background-color: rgba(100, 100, 255, 0.16);
}
.block[data-taxon="Theorem"] {
    background-color: rgba(100, 100, 255, 0.08);
}
.block[data-taxon="Proof"]:hover {
    background-color: rgba(255, 255, 255, 0.32);
}
.block[data-taxon="Proof"] {
    background-color: rgba(255, 255, 255, 0.64);
}
.block[data-taxon="Exercise"]:hover {
    background-color: rgba(255, 215, 45, 0.22);
}
.block[data-taxon="Exercise"] {
    background-color: rgba(255, 215, 45, 0.12);
}
.block[data-taxon="Solution"]:hover {
    background-color: rgba(255, 255, 255, 0.32);
}
.block[data-taxon="Solution"] {
    background-color: rgba(255, 255, 255, 0.64);
}
